@{
    ViewData["Title"] = "Contact Me";
}
<h1>@ViewData["Title"]</h1>

<h2 class="jumbotron-fluid w3-center">Find me on various site inlcuding my own!</h2>

<div>
    <h3>Feel free to email about this sites or any of my other projects (found on github): <a href="mailto:contact@owensteele.co.uk?subject=RE:%20Local%20Parks%20Project">contact@owensteele.co.uk</a></h3>
</div>

<div class="badge-primary w3-purple w3-third w3-right-align">Github: 
    <a class="w3-hover-border-dark-gray w3-hover-text-dark-gray" href="https://github.com/OwenSteele">
        <h4>OwenSteele</h4>
    </a>
</div>

<div class="w3-light-blue w3-third w3-center">Find me on 
    <a class="w3-hover-border-amber w3-hover-text-amber" href="https://www.linkedin.com/in/owen-steele-677415148">
        <h4>Linkedin</h4>
    </a>
    </div>

<div class="w3-pale-green w3-third w3-left-align">My website: 
    <a href="https://OwenSteele.co.uk">
    <h4>OwenSteele.co.uk</h4>
    </a>
    </div>