@{
    ViewData["Title"] = "About the Creator";
}
<h1>@ViewData["Title"]</h1>

<h2 class="jumbotron-fluid w3-center">Find me on various sites - inlcuding my own!</h2>

<div class="p-2">
        <i class="fa fa-paper-plane"></i>
        Feel free to email about this site or any of my other projects (found on github):        
        <a href="mailto:contact@owensteele.co.uk?subject=RE:%20Local%20Parks%20Project">
            <span class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded w-auto p-1">contact@owensteele.co.uk</span> 
        </a>
</div>

<div class="p-2">
    <i class="fa fa-code-branch"></i>
    Github:
    <a class="w3-hover-border-dark-gray w3-hover-text-dark-gray" href="https://github.com/OwenSteele">
        <span class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded w-auto p-1" >OwenSteele</span>
    </a>
</div>

<div class="p-2">
    <i class="fa fa-link"></i>
    Find me on
    <a href="https://www.linkedin.com/in/owen-steele-677415148">
        <span class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded w-auto p-1" >Linkedin</span>
    </a>
</div>

<div class="p-2">
    <i class="fa fa-globe-europe"></i>
    My website:
    <a href="https://OwenSteele.co.uk">
        <span class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded w-auto p-1">OwenSteele.co.uk</span>
    </a>
</div>