@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p>Email me: contact@owensteele.co.uk</p>

<p>Github: <a href="https://github.com/OwenSteele">OwenSteele</a></p>

<p>Find me on <a href="https://www.linkedin.com/in/owen-steele-677415148">Linkedin</a></p>

<p>My website: <a href="https://OwenSteele.co.uk">OwenSteele.co.uk</a></p>