@model ICollection<SupervisorModel>
@{
    ViewData["Title"] = "Our Staff";
}


@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filtering.js"></script>
}

<div class="staff-jumbotron-img">
    <div class="p-1 pr-3 pl-3 bg-light rounded w-auto d-inline-block">
        <h1 >Park Authority Staff</h1>
    </div>
</div>

<partial name="_FilterBar" />

<div class="bg-info border-dark text-dark w-auto rounded text-center m-1">Viewing <strong>@Model.Count()</strong> staff members.</div>

@foreach (var staffMember in Model)
{
    <partial name="_Summary" model="staffMember" />
}