@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oops, something went wrong.</h1>
<h3 class="text-danger">While trying to carry out the request you just made, something didn't go quite to plan.</h3>

<p>
    A Report of this error has been logged, and we'll try to get it fixed ASAP>
</p>
<p>
    <strong>If you would like to help us further</strong>,
    you head to our <a asp-controller="Home" asp-action="Contact" class="btn btn-info text-dark p-1">contact page</a> , to give us some details on what you tried to do before the error happened.
</p>
