@model ChartViewModel

<div class="chart-container">
    <h3>@Model.ChartData.Title.Text</h3>
    <canvas id="totalParkAreaPerPostcodeChart"></canvas>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        let ctx = document.getElementById('totalParkAreaPerPostcodeChart');
        let data = @Html.Raw(Model.Json);
        let totalParkAreaPerPostcodeChart = new Chart(ctx, data);
    });
</script>