@model ICollection<ParkModel>
@{
    ViewData["Title"] = "Parks";
}

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filtering.js"></script>
}

<h1 class="parks-jumbotron-img">
    <span class="p-1 pr-3 pl-3 bg-light rounded">Your Local Parks</span>
</h1>

<partial name="_FilterBar" />

<div class="bg-info border-dark text-dark w-auto rounded text-center m-1">Viewing <strong>@Model.Count()</strong> of our parks.</div>

@foreach (var park in Model)
{
    <partial name="_Summary" model="park" />
}
