
    <div class="shop-product" *ngFor="let p of products">
        <div class="p-1 m-0">
            <div class="card bg-dark text-light h-100">
                <div class="left"></div>
                <img src="/images/shop/products/{{p.imageId}}.jpg" class="img-fluid" [alt]="p.name" />
                <h3><strong>{{p.name}}</strong></h3>
                <div class="middle">
                    <ul class="product-props list-unstyled">
                        <li><strong>Price</strong>: {{ p.price | currency:"GBP":"symbol" }}</li>
                        <li><strong>Description</strong>: {{ p.description }}</li>
                    </ul>
                </div>
                <div class="right">
                    <button id="buyButton" class="btn btn-success align-bottom item" (click)="addProduct(p)">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>