
    <div>
        <div class="card bg-light w-auto position-fixed">
            <div *ngIf="cartVisible" #sidebar [style]="sidebarStyle" >                
                <div class="sidebar">
                    <user-cart  (close)="closeNav($event)"></user-cart>
                </div>
            </div>
        </div>
    </div>
    <div [style]="marginStyle" class="main">
        <h1 class="jumbotron"> {{title}} </h1>
        <button class="openbtn rounded-right" [style]="cartButtonStyle" (click)="toggleNav()">&#9776; <i class="fa fa-shopping-cart"></i> <span *ngIf="data.order.total > 0" class="w3-text-amber"> {{ data.order.items.length }}</span></button>
        <div class="mt-5">
            <shop-products>Fetching our products!</shop-products>
        </div>
    </div>
