@model ICollection<ParkEventModel>
@{
    ViewData["Title"] = "Events";
}

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filtering.js"></script>
}

<div class="jumbotron row">
    <table class="w-100">
        <tr>
            <td>
                <h1>Upcoming events</h1>
            </td>
            <td class="w3-right">
                @if (ViewData["User"] != null)
                {
                    <h3>
                        <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded btn-group-lg"
                               type="button"
                               value="Schedule an event"
                               onclick="location.href='@Url.Action("Edit", "ParkEvents")'" />
                    </h3>
                }
                else
                {
                    <h3>
                        <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded btn-group-lg"
                               type="button"
                               value="Log in to schedule an event"
                               onclick="location.href='@Url.Action("Login", "Account",
                                      new { returnUrl = Url.Action("Edit", "ParkEvents")})'" />
                    </h3>
                }
            </td>
        </tr>
    </table>
</div>

<partial name="_FilterBar" />

<div class="bg-info border-dark text-dark w-auto rounded">Viewing <strong>@Model.Count()</strong> upcoming events.</div>


@foreach (var ev in Model)
{
    <partial name="_Summary" model="ev" />
}