@model ICollection<ParkEventModel>
@{
    ViewData["Title"] = "Events";
}

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filtering.js"></script>
}

<div class="jumbotron row">
    <ul class="w-100 list-unstyled d-inline">
            <li>
                <h1>Upcoming events</h1>
            </li>
            <li class="w3-right">
                @if (ViewData["User"] != null)
                {
                    <h3>
                        <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded btn-group-lg"
                               type="button"
                               value="Schedule"
                               onclick="location.href='@Url.Action("Edit", "ParkEvents")'" />
                    </h3>
                }
                else
                {
                    <h3>
                        <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded btn-group-lg"
                               type="button"
                               value="Log in to schedule"
                               onclick="location.href='@Url.Action("Login", "Account",
                                      new { returnUrl = Url.Action("Edit", "ParkEvents")})'" />
                    </h3>
                }
            </li>
    </ul>
</div>

<partial name="_FilterBar" />

<div class="bg-info border-dark text-dark w-auto rounded text-center m-1">Viewing <strong>@Model.Count()</strong> upcoming events.</div>


@foreach (var ev in Model)
{
    <partial name="_Summary" model="ev" />
}