@model ChartModel
@{
    ViewData["Title"] = "Reports";
}
<div class="bg-white">
    
    <div class="reports-jumbotron-img">
        <div class="p-1 pr-3 pl-3 bg-light rounded w-auto d-inline-block">
            <h1>Local Parks Authority Statistics and Reports</h1>
        </div>
    </div>

    <div class="card row border p-2 bg-light col-10 offset-1">
        <p class="font-weight-bolder m-1">As a taxpayer-funded government institution, we feel it is very important to be transparent about how our parks are run.</p>
        <p class="m-1">We make our data and statistics as accessible as possible, for you to be able to understand how we try to give you the best parks we can.</p>
    </div>
    <p>Check out the other report pages, to see data about our parks and much more!</p>
</div>