@model ChartModel
@{
    ViewData["Title"] = "Reports";
}

<div class="text-center" style="width: 100%">

    <h2 class="jumbotron">Reports about our parks</h2>

</div>
<div>
    @await Component.InvokeAsync("ParksPerPostcodeChart")
</div>

<div>
    @await Component.InvokeAsync("TotalParkAreaPerPostcodeChart")
</div>