@model ChartModel
@{
    ViewData["Title"] = "Reports";
}

<h1 class="reports-jumbotron-img">
    <span class="p-2 bg-light rounded">Reports about our parks</span>
</h1>

<div>
    @await Component.InvokeAsync("ParksPerPostcodeChart")
</div>

<div>
    @await Component.InvokeAsync("TotalParkAreaPerPostcodeChart")
</div>