@model ChartModel
@{
    ViewData["Title"] = "Reports";
}

<div class="text-center" style="width: 100%">

    <h2 class="jumbotron">Statistics for events in our parks</h2>

</div>
<div>
    @await Component.InvokeAsync("EventsPerMonthChart")
</div>