@model ChartModel
@{
    ViewData["Title"] = "Reports";
}

<h1 class="reports-jumbotron-img">
    <span class="p-1 pr-3 pl-3 bg-light rounded">Shop Statistics and Data</span>
</h1>

<div class="bg-white p-2 rounded">
    @await Component.InvokeAsync("PopularShopProductsChart")
</div>