@model ChartModel
@{
    ViewData["Title"] = "Reports";
}

<h1 class="reports-jumbotron-img">
    <span class="p-2 bg-light rounded">Shop Statistics and Data</span>
</h1>

<div>
    @await Component.InvokeAsync("PopularShopProductsChart")
</div>