@model ChangePasswordModel
@{
    ViewData["Title"] = "Your Account";
}

<partial name="_AccountNavBar" />

<div class="container m-1">
    <div class="row card card-body">
        <div class="col-md-4 offset-md-4 p-1">

            @if (TempData["Success"] != null)
            {
                <div class="row alert-success rounded m-2 p-2 d-block">
                    <h2>Password changed successfully!</h2>
                </div>
            }
            else
            {
                <h1>Change Password</h1>

                <div>
                    <form asp-controller="Account" asp-action="ChangePassword" method="post">

                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="row form-group p-1 d-block">
                            <label>Current Password</label>
                            <input asp-for="@Model.Old"
                                   type="password"
                                   class="border-dark rounded form-control"
                                   required />
                        </div>

                        <div class="row form-group p-1 d-block">
                            <label>New Password</label>
                            <input asp-for="@Model.New"
                                   type="password"
                                   class="border-dark rounded form-control"
                                   required />
                        </div>

                        <div class="row form-group p-1 d-block">
                            <label>Confirm Password</label>
                            <input asp-for="@Model.NewConfirmed"
                                   type="password"
                                   class="border-dark rounded form-control"
                                   required />
                        </div>

                        <div class="row form-group p-1 d-block">
                            <input type="submit" value="Change Password" class="row btn-outline-light btn-info rounded d-block p-1" />
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
    </div>

    @section Scripts{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
