<form asp-controller="Account" asp-action="DeleteUserAccount" method="post">
    <div class="row form-group p-1 d-block">
        <input contenteditable="false" hidden="hidden" name="confirmed" value="true" />
        </div>
        <div class="row form-group p-1 d-block">
            <input type="submit" value="Delete?" class="row btn-outline-light btn-success rounded d-block p-1" />
        </div>
</form>