<div class="row card card-body">
    <div class="col-md-4 offset-md-4 p-1">

        <h1>Guest Account</h1>

        <div>
            <p>As Local Parks is a portfolio project, you can create a temporary guest account to navigate the account domain of the website.</p>
            <p class="font-weight-bolder">The guest account requires no password or login, however please note, guest accounts are limited in certain features:</p>
            <ul>
                <li>On log out, the guest account will be deleted and will no longer exist. <strong>(Any Events that you create will also be deleted after sign out)</strong></li>
                <li>You cannot alter your account details or password as a guest</li>
                <li>Your login will not be remembered, so if you leave the site and come back, you will not be logged in anymore.</li>
                <li><strong>However you can still get tokens for use with the API!</strong></li>
            </ul>
        </div>
        <div>
            <form asp-controller="Account" asp-action="GuestAccount" method="post">
                <div class="row form-group p-1 d-block">
                    <input type="submit" value="Use Guest Account" class="row btn-outline-light btn-info rounded d-block p-1" />
                </div>
            </form>
        </div>
    </div>
</div>