<h1>Creating a Local Parks Account</h1>

<div>
    <p>You may be asking, why sign up for an account with the local parks authority website?</p>
    <p>There is so much more you can do on our website with an account</p>
</div>

<div>
    <p>With an account you can start to shedule events in any of our parks</p>
    <p>
        There's no restriction on how many events that you can schedule,
        whether something for charity, just a celebration with friends or even a community wide event!
    </p>
</div>

<div>
    <p>For developers</p>
    <p>
        Public Web API - We have a new public RESTful Web API, with Token based Auth!
    </p>
    <p>
       You need an account to be able to use the able and generate tokens for use
    </p>
    <p>
        If you're looking to use the information about our parks, sports clubs and events, our your own website or even for research.
    </p>
</div>