<nav class="navbar navbar-expand-lg navbar-light bg-light justify-items-between">
    <a class="navbar-brand font-weight-bolder">Your Account</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse font-weight-bold" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link rounded text-danger" asp-action="Logout">Logout</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link rounded" asp-action="Index">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link rounded" asp-action="MyOrders">My Orders</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" asp-action="Developers" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Developers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link rounded" asp-action="TokenGenerator">Generate a Token</a>
                    <a class="nav-link rounded" asp-action="ApiDocumentation">API Documentation</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link rounded" asp-action="ChangePassword">Change Password</a>
                    <a class="nav-link rounded" asp-action="EditDetails">Change Account Information</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link rounded text-danger btn-outline-danger" asp-action="DeleteUserAccount">Delete Account</a>
                </div>
            </li>
        </ul>
    </div>
</nav>