<div class="card bg-light border m-3">

    <h1 class="font-weight-bolder">Creating a Local Parks Account</h1>

    <div>
        <p>You may be asking, why sign up for an account with the local parks authority website?</p>
        <p>There is so much more you can do on our website with an account</p>
    </div>

    <div>
        <p>With an account you can start to shedule events in any of our parks</p>
        <p>
            There's no restriction on how many events that you can schedule,
            whether something for charity, just a celebration with friends or even a community wide event!
        </p>
    </div>
    </div>

    <div class="card w3-pale-red border m-3">
        <h3 class="font-weight-bold w3-red text-light">For developers</h3>
        <p>
            Public Web API - We have a new public RESTful Web API, with Token based Auth!
        </p>
        <p>
            You need an account to be able to use the able and generate tokens for use
        </p>
        <p>
            If you're looking to use the information about our parks, sports clubs and events, our your own website or even for research.
        </p>
    </div>
