@section scripts
{
    <script src="~/ClientApp/runtime-es2015.js"></script>
    <script src="~/ClientApp/polyfills-es2015.js"></script>
    <link href="~/ClientApp/styles.css" rel="stylesheet" />
    <script src="~/ClientApp/vendor-es2015.js"></script>
    <script src="~/ClientApp/main-es2015.js"></script>
}

@{
    ViewData["Title"] = "Our Shop";
}

<h1 class="jumbotron-fluid"> The Local Parks Authority Shop</h1>

<shop-index></shop-index>