<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Local Parks | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark
             bg-dark border-bottom box-shadow mb-3 navbar-">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/LogoT.PNG" alt="Home"
                         style="width:70px; height: 75px;" />
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav font-weight-bolder">
                        <li class="nav-item w3-padding-16">
                            <a class="nav-link text-light w3-hover-amber w3-hover-text-black rounded" asp-controller="Parks"
                               asp-action="Index"><i class="fa fa-campground"></i> Parks</a>
                        </li>
                        <li class="nav-item w3-padding-16">
                            <a class="nav-link text-light w3-hover-amber w3-hover-text-black rounded" asp-controller="SportsClubs"
                               asp-action=""><i class="fa fa-football-ball"></i> Sports Clubs</a>
                        </li>
                        <li class="nav-item w3-padding-16">
                            <a class="nav-link text-light w3-hover-amber w3-hover-text-black rounded" asp-controller="ParkEvents"
                               asp-action=""><i class="fa fa-calendar-check"></i> Events</a>
                        </li>
                        <li class="nav-item w3-padding-16 w3-hover-text-black">
                            <a class="nav-link text-light w3-hover-amber rounded" asp-controller="Supervisors"
                               asp-action=""><i class="fa fa-id-badge"></i> Staff</a>
                        </li>
                        <li class="nav-item w3-padding-16 w3-hover-text-black">
                            <a class="nav-link text-light w3-hover-amber rounded" asp-controller="Shop"
                               asp-action="Index"><i class="fa fa-shopping-cart"></i> Shop</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav font-weight-bolder" style="float: right">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item w3-padding-16 w3-hover-text-black">
                                <a class="nav-link text-light w3-text-amber w3-border-amber rounded border-dark" asp-controller="Account"
                                   asp-action="Index"><i class="fa fa-sign-out"></i>@User.Identity.Name</a>
                            </li>

                            <li class="nav-item w3-padding-16 w3-hover-text-black">
                                <a class="nav-link text-light rounded " asp-controller="Account"
                                   asp-action="Logout" asp-route-returnUrl="@Url.PageLink()" style="color: red;"><i class="fa fa-sign-out"></i>Logout</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item w3-padding-16 w3-hover-text-black">
                                <a class="nav-link text-light w3-text-amber w3-border-amber rounded border-dark" asp-controller="Account"
                                   asp-action="SignUp"><i class="fa fa-sign-out"></i>Sign Up</a>
                            </li>

                            <li class="nav-item w3-padding-16 w3-hover-text-black float-md-right w3-text-green">
                                <a class="nav-link text-light rounded" asp-controller="Account"
                                   asp-action="Login" style="color: green;"><i class="fa fa-sign-in"></i>Login</a>
                            </li>
                        }
                    </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container mx-auto p-4 row mb-5">
            <main role="main" class="pb-3 w-100" style="padding-top: 100px;">
                @RenderBody()
            </main>
        </div>
    <div style="min-height: 100px;"></div>
                    <footer class="border-top footer m-1 p-2 bg-light">
                        <p class="pl-4 font-weight-bolder">&copy; 2021 - Owen Steele</p>
                        <div class="container row">

                            <ul class="font-weight-bolder d-inline-flex justify-content-between" style="list-style-type: none;">
                                <li class="pl-4 pr-4">
                                    <a class="w3-hover-amber w3-hover-text-black rounded w3-text-blue" asp-controller="Home"
                                       asp-action="Privacy">Privacy Notice</a>
                                </li>
                                <li class="pl-4 pr-4">
                                    <a class="w3-hover-amber w3-hover-text-black rounded w3-text-brown" asp-controller="Home"
                                       asp-action="Contact">Contact Us</a>
                                </li>
                                <li class="pl-4 pr-4">
                                    <a class="w3-hover-amber w3-hover-text-black rounded w3-text-green" asp-controller="Home"
                                       asp-action="AboutMe">About Me</a>
                                </li>
                            </ul>
                        </div>
                    </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
