@model ICollection<SportsClubModel>
@{
    ViewData["Title"] = "Sports Clubs";
}


@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filtering.js"></script>
}

<h1 class="jumbotron">Our Sports Clubs</h1>

<partial name="_FilterBar" />

<div class="bg-info border-dark text-dark w-auto rounded">Viewing <strong>@Model.Count()</strong> clubs.</div>


@foreach (var club in Model)
{
    <partial name="_Summary" model="club" />
}