@model ICollection<SportsClubModel>
@{
    ViewData["Title"] = "Sports Clubs";
}

<h1 class="jumbotron">Our Sports Clubs</h1>

<form asp-controller="SportsClubs" asp-action="Index" method="get">
    <p>
        Club name: <input type="text" class="border-dark rounded" name="searchTerm" value="@TempData["Filter"]"/>
        <input type="submit" class="btn-outline-light btn-dark btn-light rounded" value="Filter" />
        @if (TempData["Matches"] != null)
        {
            <span class="alert-danger">@TempData["Matches"]</span>
        }
        </p>
</form>
@if (TempData["Filter"] != null)
{
    <form asp-controller="SportsClubs" asp-action="Index" method="get">
    <p>
        <input type="submit" value="Remove Filter" />
    </p>
    </form>
}

@foreach (var club in Model)
{
    <partial name="_Summary" model="club" />
}