<title>Error 404 - Page not found</title>

<h2>Not Found.</h2>

<input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded btn-sm" 
       type="button" 
       value="Go back to Sports Clubs" 
       onclick="location.href='@Url.Action("Index", "SportsClubs")'" />