@{
    ViewData["Title"] = "About the Creator";
}
<h1>About me - Owen Steele</h1>

<div class="row  m-3">
    <div class="card w-100">
        <div class="m-1 m-1 flex-wrap">
            <p>I am an aspiring .NET developer who hopes to turn my passion and love for programming from a hobby into a career!</p>
            <p>I have been coding in .NET and C# since I was in secondary school. Taking an AS level in Computing (completing my A2 project in two languages (VB and C#) in the same year). I have since moved onto new languages and widely broadened my knowledge.</p>
            <p>I have also worked and built apps in: <strong>F#, VB[A], C++, Javascript, Typescript and C#</strong>, and interests in R lang and Go lang</p>
            <p>With experience in, ASP.NET Core (MVC and MVVM), Blazor, Angular and React.</p>
            <p>See another of my projects: <a href="https://owensteele.github.io/PlannR" target="_blank" rel="noopener noreferrer"> PlannR </a> - a Blazor WASM app.</p>
        </div>
    </div>
</div>

<h4>Local Parks</h4>
<div class="row m-3">
    <div class="card w-100" >
        <div class="m-1 m-1 flex-wrap">
            <ul>
                <li>Local parks is hosted on <strong>Azure</strong>, connected to an <strong>MSSQL</strong> Azure database, built with <strong>Identity Entity Framework.</strong></li>
                <li>The project uses the <strong>MVC</strong> design pattern - with separate controllers for the <strong>public shipped API.</strong></li>
                <li><strong>SOLID</strong> is employed to ensure a clean design, such as use of the <strong>service layer</strong> for decoupling the controller from the repository.</li>
                <li><strong>Identity</strong> is used for logins, account handling, <strong>authorisation</strong> (through roles and claims), as well as accessing the public shipped API <strong>(JWT Tokens).</strong></li>
                <li>The project is <strong>xUnit</strong> Tested with some application of <strong>TDD.</strong></li>
                <li>The shopfront is an <strong>Angular</strong> single-page app, written in <strong>TypeScript.</strong></li>
                <li><strong>Custom C# attributes</strong> enable strict server-side validation, with <strong>jQuery</strong> used for client-side validation</li>
            </ul>
        </div>
        <div>
            <a class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded w-auto p-1" href="https://github.com/OwenSteele/LocalParks" target="_blank" rel="noopener noreferrer">Look at git repo</a>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-around  m-3">
    <h4 class="jumbotron-fluid w3-center">Find me on various sites - inlcuding my own!</h4>

    <div class="p-2 d-block col-12">
        <i class="fa fa-paper-plane"></i>
        Feel free to email about this site or any of my other projects (found on github):
        <a href="mailto:contact@owensteele.co.uk?subject=RE:%20Local%20Parks%20Project" target="_blank" rel="noopener noreferrer">
            <span class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded w-auto p-1">contact@owensteele.co.uk</span>
        </a>
    </div>

    <div class="p-2">
        <i class="fa fa-code-branch"></i>
        Github:
        <a class="w3-hover-border-dark-gray w3-hover-text-dark-gray" href="https://github.com/OwenSteele" target="_blank" rel="noopener noreferrer">
            <span class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded w-auto p-1">OwenSteele</span>
        </a>
    </div>

    <div class="p-2">
        <i class="fa fa-link"></i>
        Find me on
        <a href="https://www.linkedin.com/in/owen-steele-677415148" target="_blank" rel="noopener noreferrer">
            <span class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded w-auto p-1">Linkedin</span>
        </a>
    </div>

    <div class="p-2">
        <i class="fa fa-globe-europe"></i>
        My website:
        <a href="https://OwenSteele.co.uk" target="_blank" rel="noopener noreferrer">
            <span class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded w-auto p-1">OwenSteele.co.uk</span>
        </a>
    </div>
</div>
