@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    The database storing entires on this website is regularly reset and not stored off-site.
    Any information included added within entries will also be removed an not stored before a reset.
</p>

<p>Do not enter actual personal information, when creating any entries</p>

<p>Please <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Me</a> with any issues to be fixed!</p>
