<div class="row order-item">
    <h3>Your order</h3>

    <div class="col-md-4 col-md-offset-8 text-right">
        <table class="table table-condensed">
            <tr>
                <td class="text-right">Date Created</td>
                <td class="text-right">{{ order.dateCreated }}</td>
            </tr>
            <tr>
                <td class="text-right">Expected delivery time</td>
                <td class="text-right">3 working days</td>
            </tr>
        </table>
    </div>

    <table class="table table-bordered table-hover">
        <tr *ngFor="let o of order.items">
            <td><img src="/images/shop/products/{{ o.imageId }}.jpg" alt="{{o.productName}}" class="img-thumbnail checkout-thumb" /></td>
            <td>{{ o.productName }}</td>
            <td>{{ o.quantity }}</td>
            <td>{{ o.unitPrice|currency:"GBP":"symbol" }}</td>
            <td>{{ (o.unitPrice * o.quantity)|currency:"GBP":"symbol"  }}</td>
        </tr>
    </table>

    <div class="col-md-4 col-md-offset-8 text-right">
        <table class="table table-condensed">
            <tr>
                <td class="text-right">Total:</td>
                <td class="text-right">{{ order.total|currency:"GBP":"symbol"  }}</td>
            </tr>
        </table>
    </div>

</div>